<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="css/slick-theme.css" rel="stylesheet" type="text/css">
<link href="css/slick.css" rel="stylesheet" type="text/css">
<link href="css/cookieclickerstyle.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/slick.min.js"></script>
<script type="text/javascript" src="js/jquery.cookie.js"></script>
    <head>
        <meta charset="UTF-8" />
        <title>ゲーム画面</title>
    </head>
    <body>

<div class="no_scroll">
     <!-- スライド -->
    <ul class="slider">
    <div id="slide_1"></div>
    <div id="slide_2"></div>
   </ul>

        <!-- 画面左側の表示部分 -->
            <div id="cookie_count"></div>
		    <div id="big_cookie"></div>
		    <div id="panel" style="position:absolute;left: 32px; top: 0px;"></div>
		    <div id="panel_2" style="position:absolute;left: 550px; top: 0px;"></div>





		 <!-- 画面右側の表示部分 -->
		 <div id="panel_3" style="position:absolute;left: 684px; top: 0px;"></div>
		 <div id="panel_4" style="position:absolute;left: 1000px; top: 0px; "></div>



		    <div id="item_list"></div>
		    <div id="item_list_2"></div>

		    <div id="item_icon_1"></div>
		     <div id="item_name" style="left: 800px; top: 125px;"><p>カーソル </p></div>
		    <div id="item_icon_2"></div>
		     <div id="item_name" style="left: 800px; top: 190px;"><p>BBA </p></div>
		    <div id="item_icon_3"></div>
		     <div id="item_name" style="left: 800px; top: 255px;"><p>農場 </p></div>
		    <div id="item_icon_4"></div>
		     <div id="item_name" style="left: 800px; top: 320px;"><p>鉱山 </p></div>
		    <div id="item_icon_5"></div>
		     <div id="item_name" style="left: 800px; top: 385px;"><p>工場 </p></div>
		    <div id="item_icon_6"></div>
		     <div id="item_name" style="left: 800px; top: 445px;"><p>銀行 </p></div>
		    <div id="item_icon_7"></div>
		     <div id="item_name" style="left: 800px; top: 510px;"><p>魔女の塔 </p></div>
		    <div id="item_icon_8"></div>
		     <div id="item_name" style="left: 800px; top: 575px;"><p>宇宙人 </p></div>
</div>

    </body>
</html>

<!-- 画像読み込み -->
<script type="text/javascript">
document.getElementById('big_cookie').innerHTML = '<img src="/image/perfectCookie.png">';
document.getElementById('item_list').innerHTML = '<img src="/image/storeTile.jpg">';
document.getElementById('item_list_2').innerHTML = '<img src="/image/storeTile.jpg">';
document.getElementById('item_icon_1').innerHTML = '<img src="/image/item1.png">';
document.getElementById('item_icon_2').innerHTML = '<img src="/image/item2.png">';
document.getElementById('item_icon_3').innerHTML = '<img src="/image/item3.png">';
document.getElementById('item_icon_4').innerHTML = '<img src="/image/item4.png">';
document.getElementById('item_icon_5').innerHTML = '<img src="/image/item5.png">';
document.getElementById('item_icon_6').innerHTML = '<img src="/image/item6.png">';
document.getElementById('item_icon_7').innerHTML = '<img src="/image/item7.png">';
document.getElementById('item_icon_8').innerHTML = '<img src="/image/item8.png">';
document.getElementById('slide_1').innerHTML = '<img src="/image/cookieShower2.png">';
document.getElementById('slide_2').innerHTML = '<img src="/image/cookieShower2.png">';
document.getElementById('panel').innerHTML = '<img src="/image/panelVertical1.png">';
document.getElementById('panel_2').innerHTML = '<img src="/image/panelVertical1.png">';
document.getElementById('panel_3').innerHTML = '<img src="/image/panelVertical1.png">';
document.getElementById('panel_4').innerHTML = '<img src="/image/panelVertical1.png">';
</script>

<!-- クッキー背景ループ -->
<script type="text/javascript">
$('.slider').slick({
	  arrows: false,
	  autoplay: true,
	  infinite: true,
	  autoplaySpeed: 0,
	  speed: 20000,
	  swipe: false,
	  vertical: true,
	  cssEase: 'linear',
	  pauseOnFocus: false,
	  pauseOnHover: false,
	  pauseOnDotsHover: false,


});
</script>

<!-- スクロールロック -->
<script type="text/javascript">
$(function(){
  if($(".no_scroll").length) {
    $(window).on('wheel',function(e){
      e.preventDefault();
    });
  } else {
    $(window).off('wheel');
  }
});
</script>

<!-- クッキー数表示 -->
<script type="text/javascript">

var count = 1000;
$("#big_cookie").click(function() {
    document.getElementById( "cookie_count" ).innerHTML = ++count;
});

function count_up(){
	document.getElementById( "cookie_count" ).innerHTML = ++count;
}
setInterval('count_up()',1000);
</script>


<!-- auth関連処理 -->
<script type="text/javascript">
window.onload = function() {
 //クッキー取得
 var cookie_info = String($.cookie("UI"));
 var login_id = cookie_info.replace(undefined,"");

 //文字列ランダム生成
 var len = 32;
 var chr = "abcdefghijklmnopqrstuvwxyz0123456789";

 var chr_len = chr.length;
 for(var i=0; i<len; i++){
	 login_id += chr[Math.floor(Math.random()*chr_len)];
	}

//クッキー設定
$.cookie('UI',login_id.slice(0,32),{expires:30, path:'/'});
};
</script>
